*{
    font-family:sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

body{
    background:brown;
    overflow-x: hidden;
}

li{
    list-style-type:none;
}

.header-pc{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top:20px;
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2;
}

.header-logo__wrapper img{
    width:100px;
    padding:15px;
    border-radius: 50%;
    background-color:white;
}

.header__ul{
    display:flex;
    margin-right:55px;
}

.header__li{
    margin-left:15px;
}

.first-child-header{
    margin-left:0;
}

.last-child-header{
    color:#301186;
}

.header__ul a{
    text-decoration: none;
    color:white;
    transition: .2s;
}

.header__ul a:hover{
    text-decoration: none;
    color:#FFCC00;
}

.first-block__wrapper{
    background: rgb(247,76,6);
    background: linear-gradient(90deg, rgba(247,76,6,1) 0%, rgba(249,188,44,1) 100%);
    height:100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}

.first-block__osnowa{
    height:90%;
    width:60%;
    background:#182A15;
    display: flex;
    align-items: center;
    color:white;
}

.first-block-ne-osnowa{
    background:white;
    height: 100%;
    width: 20%;
    margin-bottom: 100px;
    position:relative;
}

.first-block__title{
    margin-left:150px;
}

.fb-technik{
    font-family: 'Rubik', sans-serif;
    font-size:75px;
}

.fb-architektury{
    font-size:82px;
    color:#FBE673;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

.fb-krajobrazu{
    font-size:72px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    background:#2B8673;
    width:55vw;
    padding-left:25px;
}

.fb-o-kierunek{
    margin-top:40px;
    font-size:26px;
}

.zapisz-ile{
    margin-top:26px;
    display: flex;
    align-items: center;
    margin-left:80px;
}

.zapisz-sie a{
    text-decoration: none;
    color:white;
    font-size:24px;
    background-color:#291CA1;
    border-radius:10px;
    padding:10px 35px;
    border:1px solid black;
}

.ile-block-cifra{
    font-size:48px;
    color:#FFF933;
}

.ile-block-text{
    color:#FFF933;
    font-size:16px;
    text-align: center;
}

.fb-ile{
    display: flex;
    border:2px;
    border:1px dotted #FF9E12;
    margin-left:40px;
    padding:15px 38px 10px 38px;
}

.ile-block-first-child{
    margin-right:35px;
}

.fb-ile-block{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.absolute-fb-img__wrapper{
    position:absolute;
    left:190px;
    bottom:-10px;
}

.absolute-fb-img__wrapper img{
    width:500px;
}

.absolute-fb-no__wrapper{
    position:absolute;
    right:-60%;
    bottom:-18%;
}

.absolute-fb-no__wrapper img{
    width:800px;
}

.second-block__wrapper{
    background:white;
    padding:44px 20px;
}

.second-block__title{
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-weight: bold;
    color:#2A419F;
    font-size:48px;
}

.sbc-block{
    background-color:#303681;
    width:420px;
    border-radius:25px;
    min-height:100%;
}

.sbc-block-first__title{
    text-align: center;
    font-size:36px;
    font-family: 'Rubik', sans-serif;
    color:#E2CA13;
    padding:15px 0;
}

.sbc-block-content__list-popups{
    background-color:white;
    -webkit-box-shadow: 17px 22px 24px -23px rgba(66, 68, 90, 1);
    -moz-box-shadow: 17px 22px 24px -23px rgba(66, 68, 90, 1);
    box-shadow: 17px 22px 24px -23px rgba(66, 68, 90, 1);
    padding-top:30px;
    padding-bottom:130px;
    border-radius:20px 20px 0 0;
    position: relative;
}

.sbclp-element{
    padding:15px 15px;
}

.sbclp-element a{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.sbclp-element div{
    color:#20154E;
    font-size:20px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

.sbclp-element .sbclp-logo{
    width:50px;
    height: 50px;
}

.sbclp-element .sbclp-arrow{
    width:20px;
    height: 20px;
    transform:rotate(90deg);
}

.ogrod-pip{
    position:absolute;
    bottom:-45%;
    right:15%;
}

.ogrod-pip img{
    width:280px;
    transform: rotate(90deg);
}

.second-block__content{
    display:flex;
    justify-content: space-around;
    margin-top:35px;
}

.sbc-block-second__title{
    padding:30px 0;
}

.sbcdnc-text{
    color:#20154E;
    text-align: center;
}

.sbc-block-drugi-content{
    position:relative;
}

.sbc-drugi-ncontent{
    background-color:white;
    -webkit-box-shadow: 17px 22px 24px -23px rgba(66, 68, 90, 1);
    -moz-box-shadow: 17px 22px 24px -23px rgba(66, 68, 90, 1);
    box-shadow: 17px 22px 24px -23px rgba(66, 68, 90, 1);
    padding-top:30px;
    padding-bottom:140px;
    padding-left:30px;
    padding-right:30px;
    border-radius:20px 20px 0 0;
    z-index: 1;
    position: relative;
    margin-top:100px;
}

.sbc-strannyi-img{
    position:absolute;
    z-index: 0;
    top:-100px;
}

.sbc-strannyi-img img{
    width:100%;
    border-radius: 20px 20px 0 0;
}

.sbcdbc-two-images{
    display:flex;
    justify-content: space-between;
    margin-top:90px;
}

.sbcdbc-two-images img{
    width:150px;
    height:150px;
    border-radius:20px;
}

.sbcdbc-pisaki{
    transform: rotate(-90deg);
    margin-top:-70px;
}

.sbcdbc-pisaki img{
    width:250px;
}

.sbc-block-trzeci-ncontent{
    margin-bottom: 30px;
    padding-bottom: 0;
    border-radius:20px;
}

.sbcdnc-text-trzeci{
    font-size:21px;
}

.sbc-prawdziwy-drugi-content{
    padding-top: 50px;
}

.third-block__osnowa{
    background:rgba(0,0,0,0);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.third-block-ne-osnowa{
    background:rgba(0,0,0,0);
}

.third-block-ne-osnowa .absolute-fb-no__wrapper{
    bottom:-6%;
}

.tb-o-kierunku__wrapper{
    background:rgba(255, 255, 255, .3);
    padding:5px 0 5px 5px;
}

.tbok__title{
    font-size:48px;
    font-family:"Rubik";
    color:#B20505;
    font-weight: bold;
    margin-bottom:35px;
}

.tbok__text{
    font-size:36px;
    font-family:"Arial";
    color:white;
    font-weight: bold;
}

.tb-rekrutacja-gdzie__wrapper{
    display:flex;
    align-items: center;
}

.tb-rekrutacja{
    margin-right:53px;
}

.tb-rekrutacja a{
    color:white;
    font-size:36px;
    font-family:'Arial';
    background:#1FB93D;
    text-decoration: none;
    transition:.2s;
    padding:10px 15px;
    border-radius:25px;
}

.tb-rekrutacja a:hover{
    background:rgb(22, 131, 44);
}

.tb-gdzie a{
    font-size:23px;
    color:#0B279A;
    font-family:'Rubik';
    text-decoration: none;
}

.tb-gdzie{
    position:relative;
}

.tb-gdzie::after{
    content:'';
    width:0;
    height:2px;
    position:absolute;
    background-color:#308832;
    left:0;
    bottom:0;
    transition:.2s;
}

.tb-gdzie:hover:after{
    width:98%;
}

.tb-lorem-ryba{
    font-size:20px;
    width:70%;
}

.fifth-block__wrapper{
    height: 100vh;
    width: 100%;
    background:url(../img/artysta3.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.fifth-block-duzy-text__wrapper{
    background:rgba(255,255,255,.7);
    font-size:37px;
    font-family:'Rubik';
    font-weight: Bold;
    text-align: center;
    padding:5px 25px;
}

.fbdt-second{
    margin-top:30px;
    margin-bottom:35px;
}

.fifth-block-maly-text__wrapper{
    margin-top:15px;
    background:#701C1C;
    font-size:35px;
    font-family:'Rubik';
    color:white;
}

.sixth-block__wrapper{
    height:60vh;
    background:linear-gradient( rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.5) ), url(https://www.biznesowa-polska.pl/wp-content/uploads/2023/01/trawa-pampasowa-na-balkonie.jpg);;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    padding-top:180px;
}

.sb-logo__wrapper{
    position:absolute;
    border: 20px solid white;
    border-radius: 100%;
    margin-left: -100px;
    top:-50px; left: 49%;
    background:white;
}

.sb-logo__wrapper img{
    width:200px;
    height:200px;
}

.sixth-block-info__wrapper{
    display: flex;
    text-align: center;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}

.sbi-maly-trawa img{
    width: 400px;
}

.sbi-duzy-text__wrapper{
    font-family:'Arial';
    font-size: 70px;
    color:#100F3E;
    font-weight: bold;
}

.sbi-maly-text__wrapper{
    font-family:'Arial';
    font-size: 48px;
    color:#100F3E;
    font-weight: bold;
}

.fb-images-rzad{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.fb-images-rzad a img{
    width:100%;
}